<div class="wrapperr" *ngIf="!isNotHomeRoute()">
    <div class="container-fluid g-0 main-content">
        <app-header></app-header>
    </div>
    <router-outlet></router-outlet>
    <div class="footerr" *ngIf="!isNotHomeRoute()">
        <app-footer></app-footer>
    </div>
</div>

<div class="grid-containerr" *ngIf="isNotHomeRoute()">
    <app-sidebar-dashboard></app-sidebar-dashboard>
    <div class="content-container">
        <app-header-dashboard></app-header-dashboard>
        <div style="background-color: #f5f5f5;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>