<div class="container">
    <div class="m-2" style="padding: 20px; min-height: 360px; background: rgb(255, 255, 255); border-radius: 8px;">
        <div class="d-flex mb-3">
            <div class="btn btn-primary rounded-3 me-2"><a style="text-decoration: none; color: white;" routerLink="/admin/movies/create"><i class="me-2 fas fa-plus"></i>Tạo film</a></div>
            <div class="btn btn-secondary rounded-3 ms-2"><a style="text-decoration: none; color: white;" routerLink="/admin/movies"><i class="me-2 fas fa-refresh"></i>Refresh</a></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tables" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Tên phim</th>
                                        <th>Loại phim</th>
                                        <th>Năm phát hành</th>
                                        <th>Thể loại</th>
                                        <th>Lượt xem</th>
                                        <th>Đánh giá</th>
                                        <th>Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of filmList">
                                        <td class="align-middle" style="overflow-wrap: break-word;"><a routerLink="/admin/movies/{{item.id}}/detail" routerLinkActive="active">{{item.title}}</a></td>
                                        <td class="align-middle">
                                            <div class="flex-column" *ngIf="item.type === 'PHIM_BO'">
                                                Phim bộ
                                                <span class="d-inline-block badge bg-danger" *ngIf="item.accessType === 'PAID'">Premium</span>
                                            </div>
                                            <div class="flex-column" *ngIf="item.type === 'PHIM_LE'">
                                                Phim lẻ
                                                <span class="d-inline-block badge bg-danger" *ngIf="item.accessType === 'PAID'">Premium</span>
                                            </div>
                                            <div class="flex-column" *ngIf="item.type === 'PHIM_CHIEU_RAP'">
                                                Phim chiếu rạp
                                                <span class="d-inline-block badge bg-danger" *ngIf="item.accessType === 'PAID'">Premium</span>
                                            </div>
                                        </td>
                                        <td class="align-middle">{{item.releaseYear}}</td>
                                        <td *ngFor="let i of item.genres">
                                            <span class="badge bg-info me-1">{{i.name}}</span><br>
                                        </td>
                                        <td class="align-middle">{{item.view | number}}</td>
                                        <td class="align-middle">
                                            <span>{{item.rating | number}}</span>
                                            <span style="color: #EDBB0E;"><i class="fas fa-star"></i></span>
                                        </td>
                                        <td class="align-middle"><span class="badge bg-success">{{item.status ? 'Công khai' : 'Nháp'}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>